<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/main.css">
    <link rel="shortcut icon" href="../image/login.png" type="image/x-icon">
    <title>Login</title>
</head>

<body class="body-login">
    <header class="header-box">
        <div class="header-box__list">
            <ul class="header-box__list--item">
                <!-- <li class="item"><a class="link hover-link" href="#">پاک کردن</a></li> -->
                <li class="item"><a class="link hover-link" href="../index.html">لیست</a></li>
                <li class="item"><a class="link hover-link" href="SignUp.html">ثبت نام</a></li>
            </ul>
        </div>
    </header>
    <section>
        <div class="section-box section-box-login">
            <form action="#" class="section-box__form">
                <input type="text" required placeholder=" نام کاربری" name="txtUserName"
                    class="username style-login style display focus-form">
                <p class="error--username"></p>
                <input type="email" required placeholder="ایمیل" name="txtEmail" class="email style-login style display focus-form">
                <p class="error--email"></p>
                <input type="password" placeholder="پسورد" name="txtPassword" class="password style-login style display focus-form">
                <p class="error--pass"></p>
                <div action="#" class="GoogleRecapctha">
                    <div class="GoogleRecapctha__box display"></div>
                </div>
                <div class="button">
                    <input type="reset" value="پاک کردن" class="button__reset hover button-color style  ">
                    <input type="submit" value="ثبت" class="button__submit hover button-color style ">
                </div>
            </form>
        </div>
    </section>
</body>

</html>